.heading {
    color: blue;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    font-style: italic;
    font-weight: bold;
    background-color: azure;
    border: 2px solid azure;
    border-bottom: 0;
}
.logo > img {
    width: 250px;
    height:250px;
}
.nav {
    display: flex;
}
.nav > div {
    margin: 20px;
    padding: 20px;
    background-color: rgb(166, 232, 232);
    border-radius: 30px; 
}
.search {
    padding-left: 50px;
    font-style: italic;
    font-weight: bold;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    justify-content: center;
}
.card {
    width: 150px;
    height: 250px;
    padding: 20px;
    display: block !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card:hover {
    transform:scale3d(1.05,1.05,1);
    
}
.card > img {
    width:150px;
    height: 150px;
    border-radius: 15px;
}
.rating > img {
    width: 15px;
    height: 15px;
}
.card > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
}
.cusinines {
    display: block !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(101, 94, 94);
}
.name {
    padding-top: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.rating {
    padding-top: 5px;
    font-weight: bold;
}
.time {
    padding-top: 5px;
    font-weight: bold;
}
.copyright {
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    color: gray;
}